.box2 {
    /* border: 2px solid red; */
    /* position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px; */
    display: flex;
    height: 40%;
}

@media (max-width: 700px) {

    .box2 {
        flex-direction: column;
        /* gap: 10px; */
    }
}

@media (max-width: 415px) {

    .box2 {
        width: 100%;
    }
}