.card {
    background-image: url('../assets/pictures/overcast.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card::after {
    z-index: -1;
    content: '';
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
    backdrop-filter: blur(10px);
    position: absolute;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 0;
}

.main {
    padding: 0;
    margin: 0;
    height: 85%;
    width: 85%;
    background-image: url('../assets/pictures/overcast.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border: 2px solid grey; */
    border-radius: 5px;
    gap: 0px;
    z-index: 1;
}




@media(max-width: 700px) {
    .card {
        height: 200vh;
    }

    .card::after {
        height: 200vh;
    }

    .main {
        height: 64%;
    }
}